[submodule "gh-pages"]
	path = gh-pages/build
	url = git@github.com:dstosik/pebblot.git
	branch = gh-pages
[submodule "TexturePackerPebble"]
	path = TexturePackerPebble
	url = git@github.com:dstosik/TexturePackerPebble.git
